body {
    font-family: sans-serif;
    line-height: 1.6;
    padding: 2rem;
}

.titulo {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    /* DIFERENCIA 1: Letras separadas */
    letter-spacing: 1.5rem;
}

.autor {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    /* DIFERENCIA 2: Nombre y apellido separados */
    word-spacing: 2rem;
}

.prologo-tit {
    font-size: 2rem;
    font-weight: bold;
    /* DIFERENCIA 3: Cambio de small-caps a Mayúsculas puras */
    text-transform: uppercase;
    margin-top: 3rem;
}

.texto-principal {
    font-size: 1.1rem;
    font-weight: 400;
    /* DIFERENCIA 4: Justificado */
    text-align: justify;
}

.texto-secundario {
    font-size: 1.1rem;
    font-weight: lighter;
    font-style: oblique;
    /* DIFERENCIA 4: Justificado */
    text-align: justify;
    color: #444;
}

.texto-principal:hover {
    color: blue;
}