body {
    font-family: sans-serif;
    line-height: 1.6;
    padding: 2rem;
}
h1{
    color:red
}
h1 {
    font-weight: 900;   
    margin: 0 auto;
}

h1:hover{
    font-style:italic;
    color:blue
}

/* Tarea: Cambio al pasar el ratón */


.autor {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
}

/* Tarea: Rojo y Negrita */
.prologo-tit {
    font-size: 2rem;
    font-weight: bold;
    color: red;
    margin-top: 3rem;
}

.texto-principal {
    font-size: 1.1rem;
    text-align: justify;
}

.texto-secundario {
    font-size: 1.1rem;
    font-weight: lighter;
    font-style: oblique;
    text-align: justify;
    color: #444;
}