body {
    font-family: "Times New Roman", serif;
    background-color: white;
}

.contenedor {
    width: 80%;
    margin: 40px auto;
}

.mayusculas {
    text-transform: uppercase;
}

.resaltado {
    background-color: yellow;
    padding: 2px 4px;
}
