body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.contenedor {
    width: 70%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.6;
}
